.card {
	position: relative;

	width: 100%;
	height: fit-content;

	padding: 0.5rem 1rem;

	border: .1rem black solid;
	border-radius: .5rem;
}


.card__button {
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;

	width: 3rem;
	height: 3rem;
}

.card__button img {
	width: 2rem;
	height: 2rem;
}

