*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif;
}

body {
	background-color: #fff;
}

input,
form{
		margin: 0;
		padding: 0;
		font: inherit;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border: 0.1rem black solid;
		border-radius: .5rem;
		background: #fff;

		box-shadow: none;
	}
button {
	margin: auto 0;
	padding: 0;
	width: 3.5rem;
	height: 3.5rem;
	font: inherit;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: 0.1rem black solid;
	border-radius: 50%;
	background: #fff;

	box-shadow: none;
	cursor: pointer;
}
button img {
	position: absolute;

	width: 2.4rem;
	height: 2.4rem;
	
	transform-origin: left top;
	transform: translate(-50%, -50%);
}


.App {
	width: 50%;
	max-width: 80rem;
	min-width: 40rem;
	height: auto;

	margin: 1rem auto;

	font-size: 1.4rem;

	text-align: center;
	word-wrap: normal;
}